/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    .wrapper {
        width: 200px; 
    }

    .header{
        height: 200px;
    }

    .header-white {
        margin: 20px 70px 20px 70px;
        height: 160px;
        width: 60px;
        background-color: #ffffff;
        
    }

    .hw-left{
        margin: 10px 10px 5px 10px;
        height: 40px;
        width: 40px;
        background-color: #a9004b;
    }

    .hw-center{
        margin: 5px 10px 5px 10px;
        height: 40px;
        width: 40px;
        background-color: #a9004b;
    }

    .hw-right{
        margin: 5px 10px 10px 10px;
        height: 40px;
        width: 40px;
        background-color: #a9004b;
    }

    .contents{
        float: none;
    }

    .contents-left {
        float: none;
        height: 130px;
        width: 200px;
    }

    .contents-right {
        height: 210px;
        width: 200px;
    }

    .or-upper {
        float: left;
        margin: 20px 30px 5px 30px;
    }

    .or-middle {
        margin: 5px 30px 5px 30px;
    }

    .or-lower {
        margin: 5px 30px 20px 30px;
    }
}